@use '../utils/variables';


body {
  font-family: 'Inter', sans-serif;
  background-color: variables.$bg;
  color: variables.$text;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

small {
  color: variables.$text-muted;
}

a {
  color: white;
  text-decoration: none;
  transition: opacity 0.2s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.75; // petit effet subtil au survol
  }
}